.message {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


form.search input[type=text] {
    font-size: 17px;
    float:left;
    width: 503px;
    height: 63px;
    background: #f1f1f1;
}
  
form.search button {
    float: left;
    width: 153px;
    height: 67px;
    border: none; 
    cursor: pointer;
    background: #5474FD;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
}
  
form.search button:hover {
    background: #19224b;
}
  

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.fa.fa-search {
    margin-left: 10px;
}