.second-image {
    background: url("../images/image-2.png") no-repeat center center fixed;    
    width: 100%; 
    height: 85em;  
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 400px) {
    .second-image  {
        flex-wrap: wrap;
    }
}

/* Här får jag inte till innehållet att aligna till vänster, men att parent-elementet 
fortfarande är centrerat. Tar jag bort align-items nedan hamnar det centrerat, men då även 
allt innehåll och texter */

.second-image.left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

h3 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 22px;
    }
}


.main-text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    max-width: 560px;
}

@media screen and (max-width: 400px) {
    .main-text  {
        padding-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .main-text  {
        padding-left: 10px;
    }
}

.explore-btn {
    width: 228px;
    height: 63px;
    margin-top: 50px;
    background: #5474FD;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    &:hover {
        background: #19224b;
    }
}

.second-image.right {
    display: flex;
    flex-direction: column;
    max-height: 450px;
}

.house {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .house  {
        width: 100%;
    }
}

.mountains {
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

@media screen and (max-width: 400px) {
    .mountains  {
        width: 100%;
    }
}

.black-area {
    min-height: 340px;
    background: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-icon {
    font-size: 50px;
    color: #5474FD;
}

.icon-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.far.fa-check-circle {
    font-size: 50px;
    color: #FF6363;
}
.icon-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.far.fa-thumbs-up {
    font-size: 50px;
    color: #00A2FF;
}

.icon-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
